<span id="about-page">
    <div class="page">
        <div class="container">
            <div class="row">
                Code Wars was founded in 2012
                <br/><br/>
                Its purpose is to provide friendly coding competitions
                <br/>
                All skill levels are welcome to participate
                <br/><br/><br/>
                The team currently consists of
                <br/><br/>
                <table border="0">
                    <tr>
                        <td><img src="public/images/jack.png" /></td>
                        <td class="spacer"></td>
                        <td><img src="public/images/zack.jpg" /></td>
                        <td class="spacer"></td>
                        <td><img src="public/images/mike.jpg" /></td>
                    </tr>
                    <tr>
                        <td>Jack</td>
                        <td></td>
                        <td>Zack</td>
                        <td></td>
                        <td>Mike</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</span>