<div class="darkest-background full-height">
    <div class="container">
        <div class="row">
            <div class="jumbotron upload">
                <h2>Confirmation Page</h2>
                <div ng-show="confirmed == 'confirmed'">
                    <p>Thank you for confirming your email!</p>
                    <br />
                    <p>You are now free to upload your bot!</p>
                </div>
                <div ng-show="confirmed == 'denied'">
                    <p>Uh oh! There was an error processing your confirmation:</p>
                    <br />
                    <p style="color: red">{{error}}</p>
                </div>
                <div ng-show="confirmed == 'waiting'">
                    <p>Processing your confirmation request...</p>
                </div>
            </div>
        </div>
    </div>
</div>