<span id="getting-started-page">
	<div class="page">
		<div class="container">
			<div class="row center-not-lg">
				<div class="col-lg-7">
					<img src="public/images/game.png" class="shot-game align-center" />
					<p class="full-width-centered no-margin-bottom hidden-md hidden-sm">Game images taken from <a href="http://dofuswiki.wikia.com/wiki/Monster" style="color: #428bca" target="_blank">Dofus</a></p>
					<p class="full-width-centered no-margin-bottom hidden-md hidden-sm">Game icons taken from <a href="http://game-icons.net/" style="color: #428bca" target="_blank">game-icons.net</a></p>
				</div>
				<div class="col-lg-5">
					<div class="larger">Getting Started with CloneCraft</div>

					CloneCraft is a heads-up, turned-based strategy game.
					<br /><br />
					The main objective is to defeat the opposing base first.
					<br /><br />

					You have the ability to create minions that can move, mine gold, or attack.
					<br /><br />

					How you create/utilize these minions determines your success.
					<br /><br />

					<div ng-click="tryGameClicked()" class="upload-button hand-cursor">
						Just looking to try the game?<br />
						<span class="click">Click Here</span>
					</div>
				</div>
	    	</div>
		</div>
	</div>

	<div class="page">
		<div class="container">
			<div class="row">
				<div class="screen col-md-1 hidden-sm hidden-xs">
				</div>
				<div class="step col-md-7 col-xs-9">
					<span class="number">1</span>
					<span class="directions">Read the documentation</span>
					<br />
					<a href="/#/CloneCraft/docs">Click here</a> to read the online documentation<br />
					This is where you'll learn how to play and what commands are available
				</div>
				<div class="screen col-sm-2 col-xs-3">
					<img src="public/images/docs-icon.png" />
				</div>
			</div>
		</div>
	</div>

	<div class="page">
		<div class="container">
			<div class="row">
				<div class="screen col-md-1 hidden-sm hidden-xs">
				</div>
				<div class="screen col-sm-2 col-xs-3">
					<img src="public/images/damage-icon.png" />
				</div>
				<div class="step col-md-7 col-xs-9">
					<span class="number">2</span>
					<span class="directions">Try out the game</span>
					<br />
					<a href="/#/CloneCraft/game">Click Here</a> to give the game a whirl<br />
					You can play the game just using your mouse or you can use your AI (great for testing!)
				</div>
			</div>
		</div>
	</div>

	<div class="page">
		<div class="container">
			<div class="row">
				<div class="screen col-md-1 hidden-sm hidden-xs">
				</div>
				<div class="step col-md-7 col-xs-9">
					<span class="number">3</span>
					<span class="directions">Download dev package</span>
					<br />
					Use one of these as a starting point:<br />
					&nbsp;&nbsp;&bull;&nbsp;&nbsp;<a href="public/packages/c-sharp.zip">C#</a><br />
					&nbsp;&nbsp;&bull;&nbsp;&nbsp;<a href="public/packages/javascript.zip">JavaScript</a><br />
					&nbsp;&nbsp;&bull;&nbsp;&nbsp;<a href="public/packages/coffee.zip">CoffeeScript</a><br />
				</div>
				<div class="screen col-sm-2 col-xs-3">
					<img src="public/images/download-icon.png" />
				</div>
			</div>
		</div>
	</div>

	<div class="page">
		<div class="container">
			<div class="row">
				<div class="screen col-md-1 hidden-sm hidden-xs">
				</div>
				<div class="screen col-sm-2 col-xs-3">
					<img src="public/images/mining-icon.png" />
				</div>
				<div class="step col-md-7 col-xs-9">
					<span class="number">4</span>
					<span class="directions">Build your AI</span>
					<br />
					After running your development package, test it by going to the 'Play Now' page<br />
					The package you download will start you off with a very basic AI<br />
					Feel free to work off of the starting package or wipe the code and start from scratch
				</div>
			</div>
		</div>
	</div>

	<div class="page">
		<div class="container">
			<div class="row">
				<div class="screen col-md-1 hidden-sm hidden-xs">
				</div>
				<div class="step col-md-7 col-xs-9">
					<span class="number">5</span>
					<span class="directions">Upload your AI</span>
					<br />
					By uploading your AI, you are automatically entered into our tournament.<br/>
					You will need to register and confirm your email to upload.<br/>
					Once you are logged in, click <strong>Upload</strong> in the header
				</div>
				<div class="screen col-sm-2 col-xs-3">
					<img src="public/images/upload-icon.png" />
				</div>
			</div>
		</div>
	</div>

	<div class="page">
		<div class="container">
			<div class="row">
				<div class="screen col-md-1 hidden-sm hidden-xs">
				</div>
				<div class="screen col-sm-2 col-xs-3">
					<img src="public/images/podium.png" />
				</div>
				<div class="step col-md-7 col-xs-9">
					<span class="number">6</span>
					<span class="directions">Check the Leaderboards</span>
					<br />
					Every Sunday night, a round robin tournament is run and a leader is crowned<br />
					See who is currently on top of the CloneCraft ladder <a href="/#/CloneCraft/standings">here</a>
				</div>
			</div>
		</div>
	</div>

	<div class="page">
		<div class="container">
			<div class="row">
				<div class="screen col-md-1 hidden-sm hidden-xs">
				</div>
				<div class="step col-md-7 col-xs-9">
					<span class="number">7</span>
					<span class="directions">Check out your Profile</span>
					<br />
					Set your trash talking blurb and check out how you've done in past tournaments by logging in and clicking <strong>Profile</strong> in the header
				</div>
				<div class="screen col-sm-2 col-xs-3">
					<img src="public/images/human.png" />
				</div>
			</div>
		</div>
	</div>
</span>