<span id="main-page">
    <div class="page">
        <div class="container middle">
            <div class="row">
                <div class="col-md-6 slogan">
                    <span class="first-line">An online</span>
                    <span class="aside">( and occasionally in-person )</span><br />
                    coding competition<br />
                    made for developers,<br />
                    hackers <span class="aside">&amp;</span> engineers
                </div>
                <div class="col-md-5 competition">
                    <a href="#/CloneCraft">
                        <div class="bordered competition-current">
                            <h3 class="playing">Currently Playing</h3>
                            <h1 class="full-width-centered">Clone Craft</h1>
                            <i>Make minions to do your bidding</i>
                            <h2 class="side">Kicking off Q3</h2>
                            <img src="public/images/peek.png" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-inverse bottom">
            <div class="footer">
                Established 2012
            </div>
        </div>
    </div>
</span>