<span id="upload-page">
	<div class="page">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="/public/images/ai.jpg" alt="AI" class="ai-img"/>
				</div>
				<div class="col-md-6" ng-show="loggedIn">
					<div class="larger">Code Upload</div>
					<br/>
					<input type="file" id="code" accept=".zip"/>
					<br/>
					<div ng-click="upload()" class="btn btn-lg btn-primary" ng-disabled="uploading">Upload</div>
					<br />
					<br />
					<p>Please, DO NOT upload malicious code.</p>
				</div>
				<div class="col-md-6" ng-show="!loggedIn">
					<p>You must be logged in to upload code
				</div>
			</div>
		</div>
	</div>
	<div class="page">
		<div class="container">
			<div class="row">
				<div class="screen col-md-1 hidden-xs hidden-sm"></div>
				<div class="step col-md-7 col-xs-9">
					<span class="language">C# Developers</span>
					<br />
					Upload the contents of your CSharp project folder zipped up. Immediately inside your zip folder should be your Web.config and your bin folder.
				</div>
				<div class="screen col-md-2 col-xs-3">
					<img src="public/images/dotnet.png" />
				</div>
			</div>
		</div>
	</div>
	<div class="page">
		<div class="container">
			<div class="row">
				<div class="screen col-md-1 hidden-xs hidden-sm"></div>
				<div class="screen col-md-2 col-xs-3">
					<img src="public/images/coffeejs.png" />
				</div>
				<div class="step col-md-7 col-xs-9">
					<span class="language">Javascript/Coffeescript Developers</span>
					<br />
					Upload your server folder zipped up. Immediately inside your zip folder should be your server.js file.
				</div>
			</div>
		</div>
	</div>
</span>